<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<mat-drawer-container class="side__container" autosize>
  <mat-drawer mode="side" [opened]="opened">
    <button mat-icon-button (click)="onToggleExtend()"><mat-icon>menu</mat-icon></button>
    
    <ul>
      <li><a mat-flat-button routerLink="bananas/">Banana</a></li>
      <li><a mat-flat-button routerLink="apples/">Apples</a></li>
      <li><a mat-flat-button routerLink="fruit-salad/">Fruit Salad</a></li>
    </ul>
    <p *ngIf="extend">Dinamo je zakon!!!!!!!</p>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        Fruit Salad App
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>

    </div>
  </mat-drawer-content>
</mat-drawer-container>

