<div cdkDropListGroup>
    <div class="list_container">
        <div class="container-header">
            <h2>Ingredients</h2>
        </div>
        <div 
            *ngIf="(ingredients$ | async) as ingredients"
            id="master-list" 
            cdkDropList 
            [cdkDropListData]="ingredients" 
            class="list" 
            (cdkDropListDropped)="drop($event)">
            <div 
                class="list_box" 
                *ngFor="let item of ingredients" 
                cdkDrag > {{item.title}}</div>
        </div>
    </div>
    <div class="horizontal_list_container">
        <div class="container-header">
            <h2>Salad </h2>
            <div class="separator"></div>
            <button mat-icon-button (click)="onAddLayer()"><mat-icon>add</mat-icon></button>
            <button mat-icon-button color="warn" (click)="onClear()"><mat-icon>clear</mat-icon></button>
            <button mat-icon-button color="primary" (click)="onSave()"><mat-icon>save</mat-icon></button>
        </div>
        
        <div *ngFor="let layer of salad; let i=index"
            cdkDropList
            [id]=i
            cdkDropListOrientation="horizontal" 
            [cdkDropListData]="layer" 
            class="horizontal-list" 
            (cdkDropListDropped)="drop($event)">
            <div 
                class="horizontal_list_box" 
                *ngFor="let item of layer" 
                cdkDrag > {{item.title}}</div>
        </div>
    </div>
</div>
