<div cdkDropListGroup>
    <div class="list_container">
        <h2>Ingredients</h2>
        <div id="master-list" cdkDropList [cdkDropListData]="ingredients" class="list" (cdkDropListDropped)="drop($event)">
            <div class="list_box" *ngFor="let item of ingredients" cdkDrag > {{item}}</div>
        </div>
    </div>
    <div class="horizontal_list_container">
        <h2>Salad <button mat-icon-button (click)="onAddLayer()"><mat-icon>add</mat-icon></button></h2>
        
        <div *ngFor="let layer of salad; let i=index"
            cdkDropList
            [id]=i
            cdkDropListOrientation="horizontal" 
            [cdkDropListData]="layer" 
            class="horizontal-list" 
            (cdkDropListDropped)="drop($event)">
            <div class="horizontal_list_box" *ngFor="let item of layer" cdkDrag > {{item}}</div>
        </div>
    </div>
</div>
